<!DOCTYPE html>
<html>
<head>
  <title>MachineToolx</title>
  <%= stylesheet_link_tag    "machine_toolx/application", :media => "all" %>
  <%= javascript_include_tag "machine_toolx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
